*.pth
*.h5ad
*.ipynb
*.h5mu
*.pt
*.h5
notebook/
data/
configs/pair_scratch_old/
eval_result/
evaluation/
outs/
runs/
mus_database/
compare_method/**/*.csv
pred_evaluation/
pertfate_analysis/
case_analysis/

